* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
  font-family:arial,sans-serif;
}


li {
  list-style-type: none;
}
a {
  text-decoration: none !important;
  color: aliceblue;
}
a:hover{
color: aliceblue !important;
}