#Bio{
    width: 80%;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Bio-Container{
  padding-left: 43px;
}

h1{
  align-items: self-end;
  font-family:"Playfair Display" ;
  font-weight: 600;
  font-size: 3.3rem !important;
}

h4{
  font-size: 2.0633rem;
  color: rgb(34, 34, 194);
  font-family: "Nunito";
  font-weight: bold;
  
}

.img-Container{
  display: flex;
  justify-content: center;
 
}
.imagepic{
    width: 50%;
    height: 100%;
    margin-top: -22px;
}
.linkdbtn{
    padding: 13px 44px ;
    margin-right: 23px;
    border: 1px solid #f0ecec;
    border-radius: 17px;
    color: white;
    font-size: 1.3rem;
    font-family: Nunito;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}
.gitbtn{
   padding: 13px 44px ;
    margin-right: 23px;
    border: 1px solid #f0ecec;
    border-radius: 17px;
    color: white;
    font-size: 1.3rem;
    font-family: Nunito;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}


